* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:green;
}

body, html {
  height: 100%;
}

body {
  background-color: black;
  font-family: Arial, sans-serif;
  margin: 20px; /* Elimina márgenes por defecto */
  padding: 0; /* Elimina padding por defecto */
  display: flex;
  flex-direction: column;
}

/* hero */

.hero {
  height: 100dvh;
  display: flex;
  flex-direction: column;  /* Apila verticalmente */
  justify-content: center; /* Centrado vertical */
}

.hero h1 {
  color: green;
  font-size: 20vw; /* Escala con el ancho de pantalla */
  text-align: justify;
  margin: 0;
  font-weight: bold;
}

p{
  color: green;
}

/* buttons */

.button-bar {
  display: flex;
  width: 100%;
  flex-direction: column;   /* Apilar verticalmente */
  align-items: stretch;     /* Estira los botones para que ocupen todo el ancho */
  bottom: 20px;             /* Ajustar desde la parte inferior */
  left: 50%;
  padding: 10px;
  list-style: none;
  margin: 0;
}

.button-bar button {
  background-color: black;
  color: green;
  border: 2px solid green;
  border-radius: 15px;
  padding: 15px 25px;
  margin: 10px 0;       /* Espaciado entre botones */
  cursor: pointer;
  font-size: 1em;
  width: 100%;          /* Hacer que los botones ocupen todo el ancho disponible */
}

.button-bar button:hover {
  background-color: green;
  color: black;
}

.button-bar a {
  text-decoration: none;
}

/* Projects */
.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.project-card {
  background-color: #111;
  border: 2px solid green;
  border-radius: 15px;
  margin: 15px 0;
  padding: 15px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.project-card img {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

