body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300vw; /* 3 secciones */
  height: 100vh;
}

.slide {
  flex: 0 0 100vw;
  height: 100vh;
  overflow-y: auto;
}
