:root {
    /* Colors */
    --primary-color: black;
    --secondary-color: gray;
    --accent-color: green;
    --background-color: white;
    --text-color: black;
  
    /* Spacing */
    --spacing-unit: 1rem;          /* Base unit for margins/padding */
    --max-page-width: 1200px;      /* Max content width */
  
    /* Typography */
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

    /*Text Size*/
    font-size: 16px; /* font base size*/
    --title-size: clamp(2rem, 20vw, 8rem); /* Min: 2rem, Ideal: 20vw, Max: 8rem */
    --subtitle-size: clamp(1rem, 2.5vw, 1.25rem);
    --Heading-1-size: clamp(2rem, 10vw, 5rem);
    --Heading-2-size: clamp(1.5rem, 5vw, 2.5rem);
    --Heading-3-size: clamp(1.125rem, 3vw, 1.5rem);
    --button-text-size: clamp(1rem, 2.5vw, 1.25rem);
    --regular-text-size: clamp(1rem, 2.5vw, 1.25rem);
}