:root {
    /* Colors */
    --primary-color: black;
    --secondary-color: gray;
    --accent-color: green;
    --background-color: white;
    --text-color: black;
  
    /* Spacing */
    --spacing-unit: 1rem;          /* Base unit for margins/padding */
    --max-page-width: 1200px;      /* Max content width */
  
    /* Typography */
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

    /*Text Size*/
    --Title: ;
    --subTitle: ;
    --Heading-1: ;
    --Heading-1: ;
    --regular-text: ;

}