:root {
    /* Colors */
    --primary-color: black;
    --secondary-color: gray;
    --accent-color: green;
    --background-color: white;
    --text-color: black;
  
    /* Spacing */
    --spacing-unit: 1rem;          /* Base unit for margins/padding */
    --max-page-width: 1200px;      /* Max content width */
  
    /* Typography */
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;

    /*Text Size*/
    --title-size: clamp(2rem, 20vw, 8rem); /* Min: 2rem, Ideal: 20vw, Max: 8rem */
    --subtitle-size: 1rem;
    --Heading-1-size: 2rem;
    --Heading-2-size: 1.5rem;
    --Heading-3-size: 1.125rem;
    --regular-text-size: 1rem;

}